%h1 Semestres

%table.table.table-hover
  %thead
    %tr.bg-dark.text-light
      %th{scope: "col"} Semestre
      %th
      %th

  %tbody
    - @semesters.each do |semester|
      %tr
        %td= semester.number_semester
        %td= link_to 'Modificar', edit_semester_path(semester)
        %td= link_to 'Eliminar', semester, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nuevo semestre', new_semester_path, class: "btn btn-success"
