%h1 Asignar grupo
=current_user.role if current_user.present?
.row
	.col-md-12
		= form_tag  do
			-#%select.js-example-basic-single{name: "state",multiple: "multiple"}
				-#%option{:value => "AL"} Alabama madre
				-#%option{:value => "WY"} Wyoming padre
			=select_tag 'student[]', options_for_select(Student.all.collect{ |u| [u.name_lastname, u.id]}),{class: "js-example-basic-single",multiple: "multiple"}
			=hidden_field_tag 'asignar', 1
			=select_tag 'materia', options_for_select(Subject.all.collect{ |u| [u.name, u.id]}),{class: "form-tag"}
			=submit_tag("Asignar")
	-#Student.all.each do |stu|
		-#.col-md-12
			=#stu.name
			Grupo >
			=s#tu.group.name


:javascript
	$( "#dropdown" ).select2({
			theme: "bootstrap"
	});
	$(document).ready(function() {
			$('.js-example-basic-single').select2();
	});