.row.mt-3
  .col-md-4
    %h1 Pagos realizados
  .col-md-3
    = link_to 'Eliminar pagos', recordpayments_path(delete_records: 1), class: "btn btn-danger"

%table.table.table-hover
  %thead
    %tr.bg-dark.text-light
      %th{scope: "col"} Personal
      %th{scope: "col"} Cantidad
      %th{scope: "col"} Fecha y Hora

  %tbody
    - @recordpayments.each do |recordpayment|
      %tr
        %td= recordpayment.user_name
        %td= recordpayment.amount
        %td= recordpayment.created_at.strftime("%e-%m-%Y at %I:%M %p")
        -#%td= link_to 'Show', recordpayment
        -#%td= link_to 'Edit', edit_recordpayment_path(recordpayment)
        -#%td= link_to 'Destroy', recordpayment, method: :delete, data: { confirm: 'Are you sure?' }

%br

=# link_to 'New Recordpayment', new_recordpayment_path
