%h1 Grupos

%table.table.table-hover
  %thead
    %tr.bg-dark.text-light
      %th{scope: "col"} Grupo
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= link_to 'Modificar', edit_group_path(group)
        %td= link_to 'Borrar', group, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nuevo grupo', new_group_path, class: "btn btn"
