%h1 Materias

%table.table.table-hover
  %thead
    %tr.bg-dark.text-light
      %th{scope: "col"} Materia
      %th
      %th
      %th

  %tbody
    - @subjects.each do |subject|
      %tr
        %td= subject.name
        %td= link_to 'Modificar', edit_subject_path(subject)
        %td= link_to 'Eliminar', subject, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nueva materia', new_subject_path, class: "btn btn-success"
